global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "pushgateway"
    static_configs:
      - targets: ["pushgateway:9091"]
  - job_name: "api"
    metrics_path: /metrics
    static_configs:
      - targets: ["api:3000"]
